body {
    background: url(/img/Morag.png);
    background-repeat: no-repeat;
    background-size: cover;
  }  
  .App {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;   
    height: 100%;
    color: white;
    overflow: hidden;
  }  
  .titleHeader {
    height: 150px;
    padding: 20px 10px 0 10px;
  }  
  .titleHeader h1 {
    font-weight: bolder;
    font-size: 60px;
    color: blue;
    text-shadow: 1px 1px black;
    border-bottom: 2px solid red;
    font-style: italic;
  }    
  .Board h4{
    font-size: 25px;
    font-weight: 300;
  }
  .Board h4 {
    text-shadow: 2px 2px black;
    font-size: 25px;
  }
  .score{
    font-size: 30px;
    text-shadow: 1px 1px black;
    padding: 10px 0 10px 0;
  }
  .characterIcons{
    height: 80%;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  img.charImg{
    border-radius: 20px;
    border: 1px black solid;
  }
  
  .character:hover {
    transition: transform .3s ease-in-out;
    transform: scale(1.05,1.01);
  }  
  
  @media screen and (max-width: 1340px) {
    img.charImg {
      height: 140px;
    }
    .titleHeader h1 {
      font-size: 40px;
    }  
  }  
  @media screen and (max-width: 860px) {
    img.charImg {
      height: 110px;
    }
    .titleHeader h1 {
      font-size: 32px;
    }
    .score{
      font-size: 30px;      
    }
  }  
  @media screen and (max-width: 640px) {
    .titleHeader {
      height: 80px;
    }    
    .titleHeader h1 {
      font-size: 25px;
    }  
    .Board h4 {
      font-size: 15px;
    }
  }